@import url('https://fonts.googleapis.com/css2?family=Revalia&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    height: 100%;
    width: 1100px;
    margin: auto;
    position: relative;
}

.first_screen {
    width: 100%;
    height: 700px;
    background: #EEEFF1;
}
.logo{
    display: inline-block;
    width: 96px;
    height: 60px;
    margin-left: 8px;
    margin-right: 350px;
    margin-top: 50px;
    font-family: 'Revalia', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;
}

ul{
    display: inline;
    height: 16px;
    width: 611px;
    margin-top: 72px;
    padding: 0;
}

ul li {
    display: inline;
    height: 12px;
    margin-right: 42px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
}

li a:hover {
    color: #34547A;
}

.first_screen_computer {
    display: inline-block;
    width: 357px;
    height: 233.7px;
    margin-left: 77px;
    margin-top: 161px;
    margin-right: 130px;
}

.first_screen_text {
    display: inline-block;
    width: 540px;
    min-height: 197px;
    position: absolute;
    top: 240px;
}

.text_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.text_descr {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 65px;
}

.btn {
    box-sizing: border-box;
    padding: 25px 41px;
    width: 225px;
    background: #34547A;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.btn a {
    color: #fff;
}

.about_me {
    box-sizing: border-box;
    width: 100%;
    height: 366px;
    background: #fff;
    padding-top: 119px;
}

.about_me_header {
    margin: auto;
    width: 403px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.about_me_text {
    margin: auto;
    margin-top: 50px;
    width: 540px;
    height: 67px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

.numbers {
    box-sizing: border-box;
    padding: 100px 0;
    height: 250px;
    width: 100%;
    background: #34547A;
}

.numbers_item {
    display: inline-block;
    margin-right: 42px;
}

.numbers_item:last-child {
    margin-right: 0px;
}

.item_img {
    display: inline-block;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.item_descr {
    display: inline-block;
    box-sizing: border-box;
    width: 71px;
    height: 45px;
}

.item_nmbr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-top: 3px;
}

.item_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.skills {
    height: 653px;
    width: 100%;
    background: #fff;
}

.skills_descr {
    position: absolute;
    display: inline-block;
    width: 445px;
    top: 204px;
    left: 0px;
}

.skills_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 50px;
}

.lines_item_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.lines_item_line {
    height: 4px;
    background: #C4C4C4;
    margin-bottom: 30px;
}

.lines_item_line  span {
    display: block;
    height: 100%;
    background: #34547A;
    transform: rotate(-0.06deg);
}

.skills_img {
    display: inline-block;
    position: absolute;
    width: 555px;
    height: 450px;
    top: 102px;
    right: 0px;
}

.skills_img img {
    width: 555px;
    height: 450px;
}

.video {
    width: 100%;
    height: 1004px;
    background: #EEEFF1;
    box-sizing: border-box;
    padding-top: 100px;
}

.video_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.video_text {
    width: 540px;
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 57px;
}

.video_video {
    width: 1110px;
    height: 600px;
    margin: auto;
}

.video_video img {
    width: 1110px;
    height: 600px;
}

.projects {
    height: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 28px;
}

.projects_img {
    display: flex;
    flex-wrap: wrap;
}

.project_item {
    display: inline-block;
    width: 25%;
    margin-left: -.1px;
    margin-bottom: -5px;
    overflow: hidden;
}

.project_item img {
    height: 480px;
}

.projects_links {
    height: 120px;
    margin: auto;
    margin-top: 72px;
    text-align: center;
}

.links_item {
    display: inline-block;
    margin-left: 32px;
}

.form {
    box-sizing: border-box;
    height: 762px;
    width: 100%;
    background: #EEEFF1;
    padding-top: 100px;
}

.form_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}

.form_text {
    margin: auto;
    width: 540px;
    height: 67px;   
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}

form {
    text-align: center;
    margin-top: 50px;
}

input[type="text"], input[type="email"] {
    border: none;
    width: 255px;
    height: 50px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    box-sizing: border-box;
    padding-left: 20px;
}

input[type="text"] {
    margin-right: 30px;
}

textarea[name="text"] {
    display: block;
    width: 540px;
    height: 175px;
    border: none;
    margin: auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #5F5D5D;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 17px;
    margin-bottom: 50px;
}

.btn {
    color: #fff;
    border: none;
}

footer {
    width: 100%;
    height: 151px;
    background: #34547A;
}

.footer_text {
    display: inline-block;
}

.footer_text_header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 50px;
}

.footer_text_descr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer_icons {
    display: inline-block;
    margin-top: 64px;
    position: absolute;
    right: 0;
}

.icons_item {
    display: inline-block;
    margin-left: 21.87px;
}